input {
    width: 10em;
}

#total-field {
    width: 115em;
}
button{
    color: coral;
}

label {
    margin-right: 1em;
}
body{
    background-color: bisque;
}
table {
    max-width: 20em;
    padding-bottom: 1em;
    padding-top: 1em;
}


#b1{
    text-align: center;
}

.c {
    margin: 10px auto 10px auto;
}

.b {
    height: 1em;
}
